body {
  min-width: 1000px;
}

.container-grid {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.column_1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}

.column_2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}

.column_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

.column_4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

.column_5 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}

.column_6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}

.column_7 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}

.column_8 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}

.column_9 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}

.column_10 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
}

.column_11 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 860px;
}

.column_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}

.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}
